.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 40px 0;

  h1 {
    text-transform: uppercase;
    font-size: 40px;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}